html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  /* font-family: "Gothic A1", sans-serif; */
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 12px;
  height: 18px;
  background-color: rgb(243, 239, 239);
}

::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 10px;
  background-color: rgb(19, 21, 151);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-input-placeholder {
  font-style: italic;
}

::-webkit-scrollbar:horizontal {
  height: 11px;
  background-color: azure;
}

body {
  background-color: #f2f6ff;
  background: url("images/4861242.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 60px;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.274);
  transition: 500ms;
  z-index: 5;
}

nav #logo-div {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  padding-left: 10rem;
  transition: 500ms;
}

nav #logo-div img {
  width: 30px;
  margin-right: 1.25rem;
}

nav #logo-div a {
  text-decoration: none;
  color: #293c7d;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

nav #search-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 75px;
  transition: 500ms;
}

nav #search-container input {
  width: 32rem;
  height: 20px;
  text-align: center;
  padding: 5px 15px 5px 15px;
  background-color: #f5f5f5;
  outline: none;
  border: 1px solid #f5f5f5;
  box-shadow: 0px 0px 4px rgba(128, 125, 125, 0.274);
  border-radius: 30px;
  font-family: "Poppins", sans-serif;
  transition: 500ms;
}

nav .main-nav {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 3em;
  color: #293c7d;
}

nav .main-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  padding: 0 12px;
  height: 50%;
  width: 60px;
  color: #293c7d;
  cursor: pointer;
  user-select: none;
}

nav .main-nav li a {
  text-decoration: none;
  color: #293c7d;
  transition: 100ms ease;
  font-weight: 500;
}

nav .main-nav li a:hover {
  transform: scale(1.11);
}

nav .main-nav .li-book {
  width: 70px;
}

nav .main-nav .dropdown-btn {
  width: 30px;
  transform: translateX(-40px);
}

nav .main-nav .dropdown-btn .dropdown-img {
  width: 15px;
  padding: 4px;
  border-radius: 50%;
  transition: 250ms;
}

nav .main-nav .dropdown-btn .dropdown-img:hover {
  transform: scale(1.15);
  background-color: rgba(225, 226, 228, 0.363);
}

nav .main-nav .dropdown-btn .dropdown-menu {
  visibility: hidden;
  position: absolute;
  top: 50px;
  right: 10px;
  padding: 0px 12px;
  min-width: 150px;
  height: 0;
  background: rgb(255, 255, 255);
  overflow-x: hidden;
  box-shadow: 1px 1px 8px rgba(128, 125, 125, 0.274);
  transform-origin: left top inherit;
  transition: all 200ms ease 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
}

nav .main-nav .dropdown-btn .dropdown-menu button {
  width: 100%;
  padding: 10px;
  text-align: center;
  align-content: center;
  border: none;
  outline: none;
  /* background: none; */
}

nav .main-nav .dropdown-btn .dropdown-menu li,
nav .main-nav .dropdown-btn .dropdown-menu button {
  width: 100%;
  height: 3rem;
  justify-content: left;
  padding-left: 20px;
  transform: translateX(-12px);
  color: #293c7d;
}

nav .main-nav .dropdown-btn .dropdown-menu li:hover,
nav .main-nav .dropdown-btn .dropdown-menu button:hover {
  background-color: rgba(235, 228, 228, 0.349);
}

nav .main-nav .dropdown-btn .dropdown-menu li img,
nav .main-nav .dropdown-btn .dropdown-menu button img {
  width: 20px;
  margin-right: 10px;
}

nav .main-nav .dropdown-btn nav #book-arrow {
  width: 12px;
  margin-left: 5px;
  transform: rotate(0deg);
  transition: 200ms ease-in-out;
}

nav .main-nav .user-handle {
  line-height: 60px;
}

nav .main-nav .user-handle img {
  transform: translate(10px, 1px);
  width: 2rem;
  border-radius: 50%;
}

nav .active {
  border-bottom: 2px solid #293c7d;
}

/* Dashboard */
.boxes {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 19.5rem 19.5rem 19.5rem;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  width: 100%;
  height: 82vh;
  /* margin-top: 1.125rem; */
}

.boxes .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 19rem;
  height: 17.375rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(128, 125, 125, 0.274);
}

.content .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box .top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
}

.box .top div {
  width: 30%;
  text-align: center;
}

.box .top img {
  width: 5.125rem;
  margin-right: 1.375;
}

.box .top .data {
  width: 30%;
  font-size: 3rem;
  font-weight: 700;
  color: #0f2c88;
  text-shadow: 1px 0px 7px rgba(66, 66, 66, 0.274);
}

.box .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .bottom button {
  padding: 10px 30px;
  min-width: 13.125rem;
  font-weight: 700;
  color: #fff;
  background: #267fff;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.274);
  outline: none;
  cursor: pointer;
}

.checkbox-container input {
  width: 15px;
  height: 15px;
  outline: none;
}

.checkbox-container em {
  font-size: 0.8rem;
  line-height: 20px;
}

/* SIDE MENU */

nav .menu-btn {
  display: flex;
  position: fixed;
  top: 20px;
  left: 30px;
  width: 35px;
  align-items: center;
}

nav .menu-btn button {
  width: 30px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition-delay: 1s;
  transition: 500ms;
}

nav .menu-btn button svg {
  width: 20px;
  pointer-events: none;
}

nav .menu-btn #open-btn {
  display: block;
}

.side-menu::-webkit-scrollbar:vertical {
  background-color: #18213e;
  padding: 1px;
}

.side-menu::-webkit-scrollbar-thumb:vertical {
  background-color: #293c7d;
  padding: 1px;
}

.side-menu::-webkit-scrollbar:horizontal {
  display: none;
}

.side-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #18213e;
  transition: 0ms;
  overflow-x: scroll;

  z-index: 6;
}

.side-menu button {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 30px;
  background: transparent;
  outline: none;
  border: none;
  transition: 300ms;
  cursor: pointer;
}

.side-menu button svg {
  pointer-events: none;
}

.side-menu svg,
.side-menu img {
  width: 1.5625rem;
  pointer-events: none;
}

.tasks {
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.tasks .item {
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 2rem;
  margin-bottom: 3.25rem;
}

.tasks .item:hover:not(:nth-child(1)) {
  background: #2f5ecc;
}

/*
.tasks .item p:hover {
  color: black;
} */

.tasks .item:nth-child(1) {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.tasks .item:nth-child(1) img {
  width: 8rem;
  height: 8rem;
}

.user-profile {
  visibility: visible;
  margin-bottom: 50px;
  transition: 500ms;
}

.user-profile div {
  min-width: 200px;
}

.tasks .item:nth-child(1) p {
  padding: 8px 10px;
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  color: #fff;
  border-radius: 20px;
  margin-top: 0.8rem;
  text-align: center;
  /* background-color: #fff; */
}

.tasks .item svg {
  margin-right: 1.5rem;
}

.tasks .item a {
  text-decoration: none;
  color: whitesmoke;
}

.tasks .menu-active {
  background: #2f5ecc;
  padding-top: 15px;
  padding-bottom: 15px;
}

/* MAIN SECTION */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  /* margin-bottom: 100px; */
  transition: 100ms;
}

/* REPORTS */
.reports {
  display: flex;
  align-items: flex-start;
  width: 81.625rem;
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
}

.reports .transactions {
  width: 52rem;
  min-height: 200px;
  margin-right: 2.3rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(128, 125, 125, 0.274);
  padding-bottom: 1rem;
  transition: 500ms;
}

.reports-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
  height: 3.5rem;
}

.reports-header h2 {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  color: #18213e;
}

.reports-header a {
  text-align: center;
  text-decoration: none;
  font-size: 0.8rem;
  padding: 0.6rem;
  background-color: #293c7d;
  border-radius: 0.7rem;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

.reports-header a img {
  width: 0.7rem;
  margin-left: 0.3rem;
  transform: rotate(180deg);
}

.reports .col-name {
  display: grid;
  grid-template-columns: 1fr 1fr 0.9fr;
  border-top: 1px solid rgba(128, 125, 125, 0.164);
  border-bottom: 1px solid rgba(128, 125, 125, 0.164);
}

.reports .col-name h3 {
  padding: 12px 15px;
  font-family: "Poppins", sans-serif;

  font-size: 0.9rem;
}

.reports .transaction-list .transaction {
  display: grid;
  grid-template-columns: 1fr 1fr 0.8fr;
  padding: 10px 15px;
  transition: 200ms;
}

.reports .transaction-list .transaction:hover {
  background-color: rgba(225, 226, 228, 0.363);
}

.transaction a {
  text-decoration: none;
  color: #091550;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.transaction .trans-status {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.transaction .trans-status p {
  flex: 2;
}

.transaction .trans-status div {
  content: "";
  width: 10px;
  height: 10px;
  margin-right: 1rem;
  border-radius: 50%;
}

.transaction .trans-status .purple {
  background-color: purple;
}

.transaction .trans-status .orange {
  background-color: orange;
}

.transaction .trans-status .yellow {
  background-color: yellow;
}

/* REPORTS USER CARDS */

.reports .new-patrons {
  width: 25rem;
  min-height: 100px;
  padding-bottom: 10px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(128, 125, 125, 0.274);
  transition: 500ms;
}

.new-patrons .new-user-list .user {
  display: flex;
  align-items: center;
  /* border-top: 1px solid rgba(128, 125, 125, 0.274); */
}

.new-user-list .user .user-dp {
  flex: 0.5;
  padding: 10px 0 10px 15px;
}

.new-user-list .user .user-dp img {
  width: 35px;
  border-radius: 50%;
}

.new-user-list .user .user-info {
  flex: 2;
}

.new-user-list .user .user-info h3 {
  font-size: 1.05rem;
}

.new-user-list .user .user-info p {
  font-size: 0.8rem;
}

.new-user-list .user .buttons {
  flex: 1.5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons .btn {
  cursor: pointer;
}

.buttons .btn svg {
  width: 25px;
  height: 25px;
  transition: 200ms;
}

.buttons .btn svg:hover {
  transform: scale(1.1);
}

/* Book feed */

.form-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.new-librarian-container {
  display: grid;
  grid-template-columns: 300px 700px;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.side-info {
  width: 250px;
  height: 873px;
  background-color: #294978;
  transform: translateX(5rem);
  border-top-left-radius: 0.7rem;
  border-bottom-left-radius: 0.7rem;
  box-shadow: 1px 1px 8px rgba(128, 125, 125, 0.274);
}

.side-info img {
  position: absolute;
  top: 150px;
  left: 31%;
  width: 100px;
}

.side-info .h2 {
  margin-top: 280px;
}

.side-info h2 {
  padding: 0.8rem;
  text-align: left;
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: white;
}

#book-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.login-btn {
  transform: translate(1rem, 0.5rem);
  font-size: 0.9rem;
}

.login-btn a {
  color: #0069ff;
}

.book-form {
  display: flex;
  flex-direction: column;
  width: 700px;
  padding: 30px 0 20px 60px;
  border-radius: 0.7rem;
  background-color: #fff;
  box-shadow: 1px 1px 8px rgba(128, 125, 125, 0.274);
}

.book-form h2 {
  margin-top: 2rem;
}

.book-form h2 img {
  width: 30px;
  margin-left: 20px;
  transform: translatey(-5px);
  animation: rotation 5s infinite linear;
}

.book-form form {
  display: grid;
  justify-content: center;
  width: 100%;
  grid-template-columns: 0.4fr 1fr;
  grid-row-gap: 1rem;
  margin-top: 2rem;
}

.book-form form label {
  font-weight: 700;
  font-size: 1rem;
  color: #294978;
  text-shadow: 3px 3px 8px rgba(128, 125, 125, 0.164);
}

.book-form form input[type="text"],
.book-form form input[type="password"] {
  width: 80%;
  padding: 8px 30px 8px 0;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  text-align: start;
  text-indent: 0.9rem;
  transform: translateX(-1.5rem);
  outline: none;
}

.book-form input[type="submit"] {
  width: 250px;
  padding: 8px 12px;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-weight: 700;
  color: #fff;
  background-color: #267fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.book-form form input[type="submit"]:hover {
  background: linear-gradient(to bottom, #0b68eb, #267fff);
}

.book-form input[type="submit"].edit-save-btn {
  background: rgb(8, 172, 109);
}

.book-form input[type="submit"].edit-save-btn:hover {
  background: linear-gradient(to bottom, rgb(8, 172, 109), rgb(7, 153, 97));
}

.book-form .bottom button a {
  text-decoration: none;
  color: #fff;
}

.book-form input[type="checkbox"]:checked ~ .checkmark {
  background-color: #2196f3;
}

.book-form h2 img {
  width: 30px;
  transform: translate(-20px, 6px);
}

.book-form form .save-edit {
  background: rgb(6, 167, 113);
  margin-bottom: 10px;
}

.book-form form input.save-edit:hover {
  background-color: rgb(9, 211, 144);
}

input .save-edit:hover {
  background-color: rgb(9, 211, 144);
}

/* Library Form */

.form-title {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.form-title img {
  width: 2.3rem;
}

.form-title h2 {
  margin-left: 1.375rem;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}

/* Manage Author / Patron */

main .book-list-table,
main .manage-booklist {
  display: flex;
  flex-direction: column;
  width: 70rem;
  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 8px rgba(128, 125, 125, 0.274);
  transition: 500ms;
}

main .manage-booklist {
  width: 78rem;
}

.book-list-table .table-name,
.manage-booklist .table-name {
  padding: 30px 25px 20px 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #294978;
  color: #fff;
}

.book-list-table .column-name {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  width: 100%;
  margin-top: 2rem;
  border-top: 1px solid rgba(94, 94, 94, 0.274);
  border-bottom: 1px solid rgba(94, 94, 94, 0.274);
}

.book-list-table .column-name h2,
.manage-booklist .column-name h2 {
  font-size: 1rem;
  padding: 10px 10px;
}

.book-list-table .column-name h2:last-child,
.manage-booklist .column-name h2:last-child {
  text-align: center;
}

.table-data {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
  width: 100%;
}

.manage-booklist .column-name {
  display: grid;
  grid-template-columns: 120px 240px 180px 100px 150px 100px 60px 70px 70px 85px 70px;
  width: 100%;
  margin-top: 2rem;
  border-top: 1px solid rgba(94, 94, 94, 0.274);
  border-bottom: 1px solid rgba(94, 94, 94, 0.274);
}

/*
.manage-booklist .column-name h2 {
  border-right: 1px solid black;
} */

.manage-booklist .column-name h2:nth-child(7),
.manage-booklist .column-name h2:nth-child(8),
.manage-booklist .column-name h2:nth-child(9) {
  font-size: 0.8rem;
  padding: 10px 0;
  text-align: center;
}

.manage-booklist .column-name h2:nth-child(10) {
  font-size: 0.94rem;
}

.manage-booklist .table-data {
  display: grid;
  width: 100%;
  grid-template-columns: 120px 240px 180px 100px 150px 100px 60px 70px 70px 85px 70px;
  width: 100%;
  padding: 10 5px;
}

.manage-booklist .table-data div:nth-child(7),
.manage-booklist .table-data div:nth-child(8),
.manage-booklist .table-data div:nth-child(9) {
  padding: 10px 5px;
  text-align: center;
}

.total-copies {
  color: #0b68eb;
}

.copies-available {
  color: rgb(8, 187, 142);
}

.table-data:hover {
  background-color: rgba(225, 226, 228, 0.363);
}

.table-data:last-child {
  padding-bottom: 5px;
}

.table-data div {
  padding: 10px 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.manage-booklist .table-data div {
  padding: 10px;
}

.table-data div:hover {
  white-space: normal;
}

.table-data .action {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.table-data .action a,
.table-data .action button {
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  outline: none;
  background-color: none;
  cursor: pointer;
}

.table-data .action a:nth-child(2),
.table-data .action button:nth-child(1),
.table-data .action button:nth-child(3) {
  margin-right: 7px;
}

.table-data .action .plus-account {
  width: 1.5rem;
  height: 1.5rem;
  background: url("images/checkmark-black.png");
  background-size: 1.5rem;
  transition: 100ms;
}

.table-data .action .edit {
  grid-column: 2/3;
  background: url("images/edit-black.png");
  background-size: 1.5rem;
  transition: 100ms;
}

.table-data .action .delete {
  grid-column: 3/3;
  background: url("images/delete-black.png");
  background-size: 1.5rem;
  transition: 100ms;
}

.table-data .action .plus-account:hover {
  transform: scale(1.13);
}

.table-data .action .edit:hover {
  background: url("images/edit-green.png");
  background-size: 1.5rem;
}

.table-data .action .delete:hover {
  background: url("images/delete-red.png");
  background-size: 1.5rem;
}

/* Manage Patrons w/o Account, Manage Books Borrowed/Reserved, Manage Authors, and Manage Shelf*/

.manage-patrons .book-list-table,
.manage-books-borrowed .book-list-table {
  width: 75rem;
}

.manage-authors .table-data div,
.manage-patrons .table-data div,
.manage-books-borrowed .table-data div,
.manage-books-reserved .table-data div,
.manage-shelf .table-data div {
  padding: 10px;
}

.manage-patrons .column-name,
.manage-patrons .table-data {
  grid-template-columns: 0.13fr 0.3fr 0.25fr 0.38fr 0.28fr 0.25fr 0.15fr 0.25fr 0.15fr 0.15fr;
}

.manage-books-borrowed .column-name,
.manage-books-borrowed .table-data {
  grid-template-columns: 0.22fr 0.25fr 0.25fr 0.25fr 0.33fr 0.25fr 0.15fr;
}

.manage-books-reserved .column-name,
.manage-books-reserved .table-data {
  grid-template-columns: 0.28fr 0.31fr 0.27fr 0.25fr 0.15fr;
}

.manage-shelf .column-name,
.manage-shelf .table-data {
  grid-template-columns: 1fr 1fr 1fr 0.5fr;
}

.manage-shelf .column-name h2:nth-child(4).column-name,
.manage-authors .column-name h2:nth-child(4) {
  margin-left: 20px;
}

.manage-shelf .action a {
  margin-right: 10px;
}

/* Edit form - on page */
.edit-form {
  margin-bottom: 100px;
}

/* Search Results Page */

.h22 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

.h22 h2 {
  font-size: 1.8rem;
  transform: translateX(-400px);
}
/*
.search-container {
  display: flex;
  justify-content: center;
  background-color: #11a876;
}

.results-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-container .book-form {
  padding-top: 200px;
} */

/* .manage-booklist .search-feed {
  margin-top: 1rem;
} */

.letter input {
  margin-left: 15px;
  margin-right: 5px;
  width: 10px;
  height: 10px;
}

.letter {
  font-weight: 400;
  font-size: 0.9rem;
}

/* Search page */

.action .borrow {
  background: url("https://img.icons8.com/small/96/000000/borrow-book.png");
  background-size: 1.55rem;
  transform: translateY(2px);
}

.search-page .action .reserve {
  background: url("https://img.icons8.com/small/96/000000/reservation-2.png");
  background-size: 1.6rem;
}

.search-page .action .borrow:hover {
  background: url("images/borrow-green.png");
  background-size: 1.5rem;
}

.search-page .action .reserve:hover {
  background: url("images/reserve-blue.png");
  background-size: 1.6rem;
}

/* Delete Prompt */

.delete-prompt {
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(230, 230, 230, 0.637);
  z-index: 20;
  /* overflow: hidden; */
}

.delete-prompt .confirm-delete {
  width: 500px;
  height: 250px;
  background-color: honeydew;
  box-shadow: 2px 2px 15px 10px rgba(128, 125, 125, 0.274);
}

.delete-prompt .confirm-delete h2 {
  padding: 30px 20px 10px 20px;
  background-color: rgb(228, 37, 37);
  color: #fff;
}

.delete-prompt .confirm-delete form {
  position: relative;
  margin-top: 20px;
  padding: 10px 30px;
  height: 100px;
}

.delete-prompt .confirm-delete form input,
.delete-prompt .confirm-delete form button {
  position: absolute;
  bottom: 0px;
  right: 50px;
  padding: 5px 15px;
  outline: none;
  border: none;
  background: none;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.delete-prompt .confirm-delete form input {
  margin-right: 110px;
  background: rgb(228, 37, 37);
  color: #fff;
}

.delete-prompt .confirm-delete form input:hover {
  background: rgb(255, 67, 67);
}

.delete-prompt .confirm-delete form button {
  background: rgb(241, 241, 241);
}

.delete-prompt .confirm-delete form button:hover {
  background: rgb(233, 229, 229);
}

/* Forgot Password */

.main-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.main-container .image {
  margin-bottom: 10px;
}

.main-container .image img {
  width: 150px;
  height: 150px;
}

.forgotpass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  width: 33rem;
  height: 420px;
  border-radius: 20px;
  box-shadow: 1px 1px 8px rgba(128, 125, 125, 0.274);
}

.forgotpass-container h2 {
  font-size: 2rem;
}

.forgotpass-container .message {
  font-size: 0.8rem;
  text-align: center;
}

.forgot-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 32rem;
  height: 500px;
}

.forgot-form form {
  margin-top: 1.5rem;
}

.forgot-form img {
  width: 27px;
  margin-right: 10px;
  margin-left: 10px;
}

.forgot-form .username-container,
.forgot-form .new-pass {
  display: flex;
  padding: 6px 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.forgot-form .username-container input,
.forgot-form .new-pass input {
  padding: 5px 10px;
  width: 230px;
  margin-left: 30px;
  text-align: start;
  font-size: 0.9rem;
  border: none;
  outline: none;
}

.forgot-form input::-webkit-input-placeholder {
  font-style: normal;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button input,
.button button {
  width: 340px;
  padding: 7px 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 10px;
  outline: none;
  border: none;
  background: #217dff;
  color: #fff;
}

.button p {
  font-size: 0.85rem;
}

.button p a {
  color: #0069ff;
}

.button input:hover,
.button button:hover {
  background: #3d8eff;
}

.button a {
  text-decoration: none;
  color: #fff;
}
