html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gothic A1", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgb(33, 33, 36);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom.);
  border-radius: 3px;
}

::-webkit-input-placeholder {
  text-align: center;
}

body {
  background-color: rgb(234, 238, 238);
}

nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 60px;
  justify-content: space-between;
  /* background: linear-gradient(to right, rgb(35, 48, 221), rgb(233, 94, 14)); */
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.274);
  transition: 500ms;
  z-index: 5;
}

nav #logo-div {
  flex: 1;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100%;
  padding-left: 10rem;
  transition: 500ms;
}

nav #logo-div img {
  width: 30px;
  margin-right: 1.25rem;
}

nav #logo-div a {
  text-decoration: none;
  color: #293c7d;
  font-family: "Gothic A1", sans-serif;
  font-weight: 700;
}

nav #search-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 75px;
  transition: 500ms;
}

nav #search-container input {
  width: 32.25rem;
  height: 20px;
  padding: 5px 15px 5px 15px;
  text-align: center;
  background-color: #f5f5f5;
  outline: none;
  border: 1px solid #f6e6e6;
  border-radius: 30px;
  font-family: "Gothic A1", sans-serif;
}

nav .main-nav {
  flex: 1;
  display: flex;
  align-items: center;
  padding-left: 3em;
  color: #293c7d;
}

nav .main-nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  padding: 0 12px;
  height: 50%;
  width: 60px;
  color: #293c7d;
  cursor: pointer;
  user-select: none;
}

nav .main-nav li a {
  text-decoration: none;
  color: #293c7d;
  transition: 100ms ease;
  font-weight: 500;
}

nav .main-nav .user-img {
  width: 28px;
}

nav .main-nav li a:hover {
  transform: scale(1.11);
}

nav .main-nav .li-book {
  width: 70px;
}

nav #book-arrow {
  width: 12px;
  margin-left: 5px;
  transform: rotate(0deg);
  transition: 200ms ease-in-out;
}

nav .main-nav .user-handle {
  line-height: 60px;
}

nav .main-nav .user-handle img {
  transform: translate(-7px, 5px);
}

/* Dashboard */

.boxes {
  display: grid;
  justify-content: center;
  grid-template-columns: 19.875rem 19.875rem 19.875rem;
  grid-column-gap: 3.625rem;
  grid-row-gap: 2.875rem;
  align-content: center;
  margin-top: 1.125rem;
}

.boxes .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 19.875rem;
  height: 17.375rem;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.274);
}

.content .box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.box .top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
}

.box .top div {
  width: 30%;
  text-align: center;
}

.box .top img {
  width: 5.125rem;
  margin-right: 1.375;
}

.box .top .data {
  width: 30%;
  font-size: 3rem;
  font-weight: 700;
  color: #0f2c88;
}

.box .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .bottom button {
  padding: 10px 30px;
  min-width: 13.125rem;
  font-weight: 700;
  color: #fff;
  background-color: #267fff;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

/* Book Feed */

main {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  transition: 500ms;
}

/* SIDE MENU */

nav .menu-btn {
  display: flex;
  position: absolute;
  left: 30px;
  width: 35px;
  height: 100%;
  align-items: center;
}

nav .menu-btn button {
  width: 30px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 500ms;
}

nav .menu-btn button img {
  width: 20px;
}

.side-menu {
  transform: translateX(-300px);
  width: 300px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #18213e;
  box-shadow: 3px 0px 13px rgba(0, 0, 0, 0.4);
  transition: 500ms;
  z-index: 6;
}

.side-menu button {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 30px;
  background: transparent;
  outline: none;
  border: none;
  transition: 300ms;
  cursor: pointer;
}

.side-menu svg,
.side-menu img {
  width: 1.5625rem;
}

.tasks {
  grid-template-columns: 1fr;
  width: 100%;
  height: auto;
  margin-top: 100px;
}

.tasks .item {
  display: flex;
  align-items: center;
  padding: 0 0 0 2.5rem;
  margin-bottom: 3.25rem;
}

.tasks .item:nth-child(1) {
  visibility: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 200px;
  margin-left: auto;
  margin-right: 60px;
  padding: 0;
}

.tasks .item:nth-child(1) img {
  width: 10rem;
  height: 10rem;
  border-radius: 0.625rem;
}

.user-profile {
  visibility: visible;
  transition: 500ms;
}

.user-profile div {
  min-width: 150px;
}

.tasks .item:nth-child(1) p {
  font-family: "Gothic A1", sans-serif;
  font-size: 0.9rem;
  font-weight: 700;
  text-overflow: clip;
  color: white;
  min-width: 100px;
  margin-top: 0.85rem;
}

.tasks .item svg {
  margin-right: 1rem;
}

.tasks .item a {
  text-decoration: none;
  color: whitesmoke;
}

/* Book feed */

#book-feed {
  width: 800px;
  padding: 30px 30px 60px 60px;
  margin-left: 70px;
  background-color: rgb(223, 219, 213);
}

.message {
  font-size: 28px;
  margin-bottom: 15px;
}

.category-name {
  font-size: 20px;
  margin-bottom: 15px;
}

.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
  grid-row-gap: 25px;
}

.grid .item {
  margin-right: 30px;
  max-height: 250px;

  background: rgb(248, 248, 246);
  position: relative;
}

.item img {
  width: 100%;
  height: 120px;
}

.item .book-item-description {
  padding: 2px 10px;
}

.item h1 {
  font-size: 15px;
}

.item h2 {
  font-size: 12px;
  margin-bottom: 3px;
  font-weight: 400;
  color: rgb(29, 19, 87);
}

.library-info {
  margin-top: 8px;
}

.item p {
  font-size: 12px;
  margin-bottom: 3px;
}

.book-actions {
  display: flex;
  width: 100%;
  height: 20px;
  justify-content: flex-end;
  margin-top: 15px;
  transform: translate(-10px);
  position: absolute;
  top: 80px;
  right: 1px;
}

.book-actions button {
  width: 20px;
  height: 20px;
  margin-left: 3px;
  opacity: 0.4;
}

.book-actions button:hover {
  opacity: 1;
}

/* Login HTML */

#login {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(35, 48, 221), rgb(233, 94, 14));
  font-family: "Rubik", sans-serif;
}

#login .container {
  position: relative;
  width: 700px;
  height: 470px;
  border-radius: 30px;
  background-color: rgba(240, 248, 255, 0.849);
}

#login .right {
  width: 47%;
}

#login .right form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 70px;
}

#login .right h2 {
  font-size: 2em;
  margin: 20% 0 0 15%;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
}

#login .right .input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-bottom: 20px;
}

#login .right .input input {
  align-items: center;
  text-align: center;
  width: 70%;
  padding: 8px 10px;
  outline: none;
  border: none;
  border-radius: 15px;
}

#login .right .login-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

#login .right .login-btn input {
  width: 65%;
  padding: 8px 13px;
  font-weight: 700;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
  background: none;
  margin-bottom: 40px;
  color: white;
  cursor: pointer;
  transition: 200ms;
}

#login .right .login-btn input:hover {
  background: linear-gradient(to right, rgb(42, 42, 240), rgb(11, 11, 177));
  border: 1px solid rgb(27, 27, 218);
  -webkit-transition: 50ms;
}

#login .forgot-new p {
  font-size: 0.8rem;
}

#login .forgot-new p a {
  color: rgb(243, 119, 46);
}

/* Create new account */

#new-user-create {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(35, 48, 221), rgb(233, 94, 14));
}

#new-user-create .container {
  position: relative;
  width: 1000px;
  height: 730px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background-color: rgba(240, 248, 255, 0.849);
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
}

.left {
  position: relative;
  width: 50%;
}

#new-user-create .left img {
  position: absolute;
  width: 100%;
  margin-top: 150px;
  opacity: 0.7;
}

.right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
  background: linear-gradient(
    to bottom right,
    rgb(201, 34, 104),
    rgb(156, 15, 74)
  );
  color: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.4);
}

#new-user-create .right .welcome-box {
  padding: 10px;
  margin-bottom: 18px;
}

#new-user-create .right .welcome-box p {
  font-size: 15px;
}

#new-user-create .right .welcome-box h2 {
  margin-bottom: 10px;
}

#new-user-create .right form {
  padding: 50px 80px;
}

.right form .newform-input {
  display: flex;
  width: 100%;
}

.right form .newform-input p {
  flex: 1.2;
  margin-bottom: 5px;
}

.right form .newform-input input {
  flex: 2;
  text-align: center;
  margin-bottom: 10px;
  padding: 6px 10px;
  border: none;
  outline: none;
}

.right form .newform-input-mailing_add {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10px;
  grid-gap: 8px;
  margin-bottom: 15px;
}

.right form .newform-input-mailing_add input {
  padding: 6px 10px;
  border: none;
  outline: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

#new-user-create .right form input[type="submit"] {
  width: 200px;
  padding: 10px 20px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: rgb(35, 48, 221);
  color: white;
  cursor: pointer;
}

#new-user-create .right form .btn .chkbx {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 125px;
  padding-left: 15px;
  font-size: 13px;
}

#new-user-create .right form .btn .chkbx input ~ .checkmark {
  background-color: none;
}

#new-user-create .right form .btn .chkbx a {
  font-size: 11px;
  margin-left: 5px;
}

.right form .btn .chkbx div {
  display: flex;
  justify-content: left;
  margin-bottom: 3px;
}

.right form .btn .chkbx div p {
  font-size: 12px;
  margin-left: 5px;
}

#new-user-create .right .to-login {
  text-align: center;
  font-size: 13px;
}

#new-user-create .right .to-login a {
  color: rgb(243, 119, 46);
}
