html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --black: #333333;
  --gray: #555555;
  --white: #ffffff;
  --bgcolor: #f2f6ff;
  --buttoncolor: #267fff;
  --formcolor: #222222;
  --linkcolor: #0069ff;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  color: var(--black);
  text-align: center;
  background-color: var(--bgcolor);
  background: url("images/4861242.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

body,
.whole-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whole-container {
  flex-direction: column;
  width: 100%;
  height: 85vh;
  max-width: 45vw;
}

.image-container img {
  width: 10rem;
  text-align: center;
  padding-bottom: 2.1rem;
  margin-top: 5rem;
}

.login-container {
  background-color: var(--white);
  width: 32rem;
  height: 350px;
  border-radius: 0.75rem;
  box-shadow: 1px 1px 8px rgba(128, 125, 125, 0.274);
}

.login-container h1,
.login-container h2 {
  font-size: 2.25rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.login-container h2 {
  font-size: 1.7rem;
}

.login-container .message {
  font-size: 0.9rem;
  color: var(--gray);
  margin-bottom: 2.2rem;
}

.username-container {
  margin-bottom: 1rem;
}

.password-container {
  margin-bottom: 0.5rem;
}

.input-group {
  width: 21rem;
  margin: 0 auto;
  /* border-radius: 0.625rem; */
}

.input-group-text {
  background-color: transparent;
  width: 5rem;
}

.fas {
  margin-left: 1rem;
}

.input-group .form-control {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  outline: none;
}

.verification {
  margin-bottom: 0;
  padding: 8px;
  font-size: 0.9rem;
  text-align: center;
  color: #dc143c;
}

.btn {
  margin-top: 0.6rem;
  width: 21rem;
  font-weight: bold;
}

.forgot {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.create {
  font-size: 1rem;
  margin-top: 1rem;
}

a {
  color: var(--linkcolor);
}

a:hover {
  text-decoration: none;
}
