html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

:root {
    --black: #333333;
    --gray: #555555;
    --white: #FFFFFF;
    --bgcolor: #F2F6FF;
    --buttoncolor: #267FFF;
    --formcolor: #222222;
    --linkcolor: #0069FF;
}

body {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.125rem;
    color: var(--black);
    text-align: center;
    background-color: var(--bgcolor);
}

body,
.whole-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.whole-container {
    flex-direction: column;
    width: 100%;
    height: 48.55vw;
}

.image-container img {
    width: 10.3rem;
    text-align: center;
    padding-bottom: 2.1rem;
    margin-top: 2rem;
}

.login-container {
    background-color: var(--white);
    width: 35.625rem;
    height: 26.5rem;
    border-radius: 0.75rem;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.login-container h1 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

.login-container .message {
    color: var(--gray);
    margin-bottom: 2.2rem;
}

.username-container {
    margin-bottom: 1rem;
}

.password-container {
    margin-bottom: 0.5rem;
}

.input-group {
    width: 21rem;
    margin: 0 auto;
    /* border-radius: 0.625rem; */
}

.input-group-text {
    background-color: transparent;
    width: 5rem;
}

.fas {
    margin-left: 1rem;
}

.input-group .form-control {
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.125rem;
}

.verification {
    margin-bottom: 0;
    font-size: 0.9rem;
    text-align: center;
    color: #DC143C;
}

.btn {
    margin-top: 0.6rem;
    width: 21rem;
    font-weight: bold;
}

.forgot {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.create {
    font-size: 1rem;
    margin-top: 1rem;
}

a {
    color: var(--linkcolor);
}

a:hover {
    text-decoration: none;
}
